
.containerPost h1 {
  font-size: 3rem;
  padding: 2.5rem;
  text-align: center;
  background: rgb(238, 237, 237);
}

.sobre {
  max-width: 85.7rem;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.sobreInfo {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobreInfo h1 {
  font-size: 2rem;
  background: rgb(238, 237, 237);
  margin-bottom: 0.5em;
}

.sobreInfo h2 {
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: black;
  background: rgb(238, 237, 237);
}

li {
  padding: 0.4rem;
}

.iconsService {
  padding: 0.5rem;
  margin-top: 1rem;
}

.sobreInfo p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #080808;
}

.sobreImg {
  flex: 1 1 160px;
  margin: 0 10px;
}

@media (max-width: 720px) {
  .containerConteudo {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }

  .containerText {
    gap: 0.2rem;
  }

  .containerText p {
    font-size: 1rem;
  }

  .containerText h1 {
    font-size: 2rem;
    text-align: end;
  }

  .containerText a {
    padding: 0.2rem 1rem;
    border-radius: 0.1rem;
  }


  .containerPost h1 {
    font-size: 2.5rem;
    padding: 1.5rem;
  }

  .sobre {
    border-top: 0.3rem solid tomato;
    padding: 1.4rem;
  }

  .sobreInfo {
    flex: 2 1 300px;
    margin: 0 10px;
  }

  .sobreInfo h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(180deg, #F46F33 0%, #f31095 60%);
    color: white;

  }

  .sobreInfo h2 {
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(180deg, #F46F33 0%, #f31095 60%);
    color: white;
  }

  .sobreInfo li {
    padding: 0.1rem;
  }

  .sobreInfo p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1em;
  }
}