
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 2.8rem;
  box-sizing: border-box;
  max-width: 85.7rem;
  padding: 3rem;

} 

  .intro {
    background-color: #fff;
    padding: 2.5rem;
    text-align: right;
    display: grid;
    gap: 1rem;
    justify-items: end;

  p{
    text-align: center;
    font-size: 1.5rem;
    text-align: end;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
  }
  a{
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    background: tomato;
    color: aliceblue;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }

  a:hover {
    background-color: red;
  }
}

.imgPersonalizados{
  height: 100%;
  object-fit: cover;
}

.detail {
  width: 4.2rem;
  height: 0.4rem;
  background: tomato;
  display: inline-block;
}

.container{
  h1 {
    font-size: 4rem;
    padding: 2.5rem;
    text-align: center;
    background: rgb(238, 237, 237);
  }
  .sobre {
    border-top: 0.5rem solid tomato;
    max-width: 85.7rem;
    padding: 4.4rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.sobreInfo {
	flex: 2 1 300px;
	margin: 0 10px;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  li{
    padding: 0.4rem;
    .fa{
      margin-bottom: -0.2rem;
    }
  }
  p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #080808;
  }
}

.sobreImg {
	flex: 1 1 160px;
	margin: 0 10px;
}



@media (max-width: 720px){
  .conteudo {
    display: inline;
    flex-wrap: wrap;
    margin: 0;
  } 
  .intro {
    gap: 0.2rem;
    p{
      font-size: 1rem;
    }
    h1{
      font-size: 2rem;
      text-align: end;
    }
    a{
      padding: 0.2rem 1rem;
      border-radius: 0.1rem;
      }
 }
  
  
 .container{
  h1 {
    font-size: 2.5rem;
    padding: 1.5rem;
  }
  .sobre {
    border-top: 0.3rem solid tomato;
    padding: 1.4rem;
  }
}

.sobreInfo {
	flex: 2 1 300px;
	margin: 0 10px;
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;

  }
  h2{
    background: rgb(238, 237, 237);
    padding: 0.5rem;
    text-align: center;
  }
  li{
    background: rgb(238, 237, 237);
    padding: 0.1rem;
   }
  p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #080808;
  }
 }
}

