.containerConteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 2.8rem;
  box-sizing: border-box;
  max-width: 85.7rem;
  padding: 3rem;
}

.containerText {
  padding: 2.5rem;
  text-align: right;
  display: grid;
  gap: 1rem;
  justify-items: end;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  text-align: end;
  color: black;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
}

.containerText > button {
  display: flex;
  width: 9rem;
  height: 2.5rem;

  gap: 0.2rem;
  
  background: tomato;
  color: aliceblue;
  
  border-radius: 0.3rem;
  align-items: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.imgPersonalizados {
  height: 100%;
  object-fit: cover;
}

.detalhe {
  width: 4.2rem;
  height: 0.4rem;
  background: tomato;
  display: inline-block;
}

.containerPost h1 {
  font-size: 4rem;
  padding: 2.5rem;
  text-align: center;
  background: rgb(238, 237, 237);
}

.sobre {
  border-top: 0.5rem solid tomato;
  max-width: 85.7rem;
  padding: 4.4rem;
  display: flex;
  flex-wrap: wrap;
}

.sobreInfo {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobreInfo h1 {
  font-size: 2.5rem;
  background: rgb(238, 237, 237);
  margin-bottom: 0.5em;
}

.sobreInfo h2 {
  font-size: 2.5rem;
  padding: 1.5rem;
  text-align: center;
  color: black;
  background: rgb(238, 237, 237);
}

li {
  padding: 0.4rem;
}

.fa {
  margin-bottom: -0.2rem;
}

.sobreInfo p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #080808;
}


.sobreImg {
  flex: 1 1 160px;
  margin: 0 10px;
}



@media (max-width: 720px) {
  .containerConteudo {
    display: inline;
    flex-wrap: wrap;
    margin: 0;
  }

  .containerText {
    gap: 0.2rem;
  }

  .containerText p {
    font-size: 1rem;
  }

  .containerText h1 {
    font-size: 2rem;
    text-align: end;
  }

  .containerText a {
    padding: 0.2rem 1rem;
    border-radius: 0.1rem;
  }


  .containerPost h1 {
    font-size: 2.5rem;
    padding: 1.5rem;
  }

  .sobre {
    border-top: 0.3rem solid tomato;
    padding: 1.4rem;
  }

  .sobreInfo {
    flex: 2 1 300px;
    margin: 0 10px;
  }

  .sobreInfo h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    background-color: tomato;
    color: white;

  }

  .sobreInfo h2 {
    padding: 0.5rem;
    text-align: center;
    background-color: tomato;
    color: white;
  }

  .sobreInfo li {
    padding: 0.1rem;

  }

  .sobreInfo p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1em;
  }
}