.button {
  width: 14rem;
  height: 3rem;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #fc00ff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 25px #fc00ff;
  transition: 0.5s;
}

.button:hover {
  background-image: linear-gradient(to right, #00dbde, #fc00ff);
}

.button:active{
  scale: 0.7;
}
