.header {
  width: 100%;
  background: white;
  top: 0px;
}

.login::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../assets/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  margin-right: 20px;
  top: 2px;
}

.perdeu {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.perdeu::after {
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.subtitle {
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: '';
  display: block;
  background: tomato;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}



