

.page-home {
  display: grid;
  color: #fff;
  height: 97vh;
  justify-content: center;
  background: tomato;
}

  .logoHome {
   padding: 50px;
  }

  .button {
    display: flex;
    font-family: Roboto;  
    font-size: 30px;
    justify-content: space-between;
  }

  .login::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../assets/usuario.svg') no-repeat center center;
    margin-left: 0.5rem;
    position: relative;
    top: -1px;
  }
  






