.page-home {
  display: grid;
  color: #fff;
  height: 97vh;
  justify-content: center;
  background: tomato;
}

  .logoHome {
   padding: 50px;
  }

  .button {
    display: flex;
    font-family: Roboto;  
    font-size: 30px;
    justify-content: space-between;
  }


  






