.page-home {
  display: grid;
  color: #fff;
  height: 97vh;
  justify-content: center;
  background: tomato;
}

  .logoHome {
   margin-top: 20px;
  }

  .buttonContainer {
    display: flex;
    font-family: Roboto;  
    font-size: 30px;
    justify-content: space-between;
  }

  .buttonHome {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: tomato;
    min-width: 8rem;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.1s;
  }

  .buttonHome:hover,
  .buttonHome:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  }
  
  @media (max-width: 720px){
    .logoHome{
      width: 270px;
      height: 244px;
      margin: auto;
    }
  }

  @media (max-width: 720px){
    .page-home{
      text-decoration: none;
       h1{
      font-size: 2.5rem;
      }
    }
  }

  






