.pageHome {
  display: grid;
  color: #fff;
  height: 100vh;
  justify-content: center;
  background: url('../../assets/laranja.jpg') no-repeat center center;
  
  h1{
    border-radius: 0px;
    margin: 10px;
    margin-top: -50px;
  }
}
 
  .AppLogo {
   margin-top: 20px;
  }

  .buttonContainer {
    display: flex;
    font-family: Roboto;  
    font-size: 30px;
    justify-content: space-between;

    button{
      font-size: 1rem;
      font-family: var(--type-first);
      cursor: pointer;
      border: none;
      border-radius: 0.4rem;
      background: #F46F33;
      min-width: 8rem;
      padding: 0.8rem 1.2rem;
      box-sizing: border-box;
      transition: 0.1s;
    } 
  }

   .buttonHome:hover,
  .buttonHome:focus {
    outline: none;
    background-color: #F89531;
    box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  }

  @media (max-width: 720px){
    .AppLogo{
      width: 22rem;
      height: 14rem;
      margin: auto;
    }
  }

  @media (max-width: 720px){
    .pageHome{
      text-decoration: none;
       h1{
      font-size: 2.5rem;
      }
    }
  }

  //logoFlutuando

  @media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: AppLogo-float infinite 3s ease-in-out;
    }
  }
    
  @keyframes AppLogo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px)
    }
    100% {
      transform: translateY(0px)
    }
  }


  @media (max-width: 720px){
    @media (prefers-reduced-motion: no-preference) {
      .AppLogo {
        animation: AppLogo-float infinite 3s ease-in-out;
      }
    }
      
    @keyframes AppLogo-float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(5px)
      }
      100% {
        transform: translateY(0px)
      }
    } 
   }

