
.containerSobre h1 {
  margin-top: 3rem;
  font-size: 3rem;
  padding: 2.5rem;
  text-align: center;
  background: rgb(238, 237, 237);
}

.containerText  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 20px;
}

.sobre {
  max-width: 85.7rem;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
}


.sobreInfo h1 {
  font-size: 2rem;
  background: rgb(238, 237, 237);
  margin-bottom: 0.5em;
}

.sobreInfo h2 {
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: black;
  background: rgb(238, 237, 237);
}

li {
  padding: 0.4rem;
}

.iconsService {
  padding: 0.5rem;
  margin-top: 1rem;
}

.sobreInfo p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #080808;
}

.imageContainerSobre {
  display: grid;
  grid-template-areas:
      "image1 image2"
  ;
}

.image1 > img {
  width: 96%;
  margin: 10px;
}

.image2 > img {
  padding: 10px 0px 0px 10px;
  width: 80%;
  margin-bottom: 12px;
}

@media (max-width: 720px) {
  .containerConteudo {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }

  .containerText {
    gap: 0.2rem;
  }

  .containerText li {
    font-size: 0.7rem;
  }

  .containerSobre h1 {
    font-size: 2rem;
    padding: 1rem;
  }

  .sobre {
    border-top: 0.3rem solid tomato;
    padding: 1.4rem;
  }

  .sobreInfo {
    flex: 2 1 300px;
    margin: 0 10px;
  }

  .sobreInfo h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
	  background: linear-gradient(180deg, #f31095 0%, #F46F33 80%);
    color: white;
  }

  .sobreInfo h2 {
    padding: 0.5rem;
    text-align: center;
	  background: linear-gradient(180deg, #f31095 0%, #F46F33 80%);
    color: white;
  }

  .sobreInfo li {
    padding: 0.1rem;
  }

  .sobreInfo p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1em;
  }

  .imageContainerSobre {
    margin-top: 25px;
  }

  .image1 > img {
    width: 100%;
    margin: 30px 0px 0px 0px;
  }
  
  .image2 > img {
    margin: 20px 0px 0px 0px;
    width: 90%;
    margin-bottom: 20px;
  }
}