
h1 {
  display: flex;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  padding: 12px;
  text-align: center;
  justify-content: center;
}

h2 {
  font-size: 80px;
  text-transform: uppercase;
  color: gray;
  padding: 40px;
  align-self: center;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
} 

.imgPersonalizados{
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

.detail {
  width: 60px;
  height: 6px;
  background: tomato;
  display: inline-block;

}
.buttonRed {
  background: tomato;
  opacity: 0.9;
  color: aliceblue;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.vantagens {
  background: #fff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2;
}

@media (max-width: 720px){
  .conteudo {
    display: flex;
    flex-wrap: wrap;
   
    margin: 0;
  } 
  h1{
    font-size: 2rem;
    text-align: end;
  }
  h2 {
    font-size: 3.2rem;
    background-color: gray;
    text-align: center;
    align-self: center;
    color: rgb(252, 249, 249);
    padding: 20px;
  }
  .buttonRed{
  padding: 5px 15px;
  border-radius: 2px;
  }
}

