.pageHome {
  height: 100vh;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background: url('../../assets/laranja.jpg') no-repeat center center;
}
 
.AppLogo {
  display: flex;
  padding-top: 2.5rem;
  margin: auto;
}

.introduction h1{
  display: grid;
  width: 20rem;
  height: 3rem;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  
  color: #ffffff;
  background: rgb(245, 54, 20);
  font-family: 'Roboto';

  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 0.9rem 0.2rem;
}

.buttonContainer {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding: 0.5rem 7rem;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer > button{
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;

  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 10px;
}

@media (max-width: 720px){
  .introduction {
    margin-top: 6rem;
  }

  .introduction h1{
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
  }

  .buttonContainer {
    margin-top: 2rem;
    flex-direction: column;
  }

  .buttonContainer > button{
    margin-bottom: 0;
    width: 10rem;
    height: 3rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogo-float infinite 3s ease-in-out;
  }
}
  
@keyframes AppLogo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px)
  }
  100% {
    transform: translateY(0px)
  }
}

@media (max-width: 720px){
  @media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: AppLogo-float infinite 3s ease-in-out;
     
      display: flex;
      width: 20rem;
      height: 25rem;
  
      padding-top: 10rem;
      margin: auto;
    }
  }
    
@keyframes AppLogo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px)
  }
  100% {
    transform: translateY(0px)
   }
  } 
}

