.container{
  padding: 10px;
}

.perdeu {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.perdeu::after {
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.subtitle {
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: '';
  display: block;
  background: tomato;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}



