
footer {
	background-color: rgba(67, 131, 204, 0.774);
	padding: 2rem;
	border-top: 10px solid #3381f3;
}

footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}

footer a {
	text-decoration: none;
}

footer ul {
	padding: 0;
  font-size: 20px;
}

footer li {
	list-style: none;
}

.footer-box {
	width: 31%;
	padding: 1%;
	float: left;
}

footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.footer-list li {
	margin-bottom: 15px;
}

.footer-list a {
	transition: 0.5s;
  padding: 15px;
}

.footer-list a:hover {
	color: #FFF;
}

.fab {
	font-size: 30px;
	margin-right: 10px;
	float: left;
}

.footer-list li span {
	float: left;
	height: 30px;
	line-height: 30px;
}

.footer-bottom {
	border-top: 2px solid #B2B2B2;
}

.imgFooter {
  height: 180px;
  margin-top: -35px;
  margin-left: -35px;
}

@media (max-width: 720px){
	.imgFooter {
		height: 60px;
		margin-top: -5px;
		margin-left: -5px;
	} 
	p{
		font-size: 1rem;

	}
	.footer-box {
		width: 6rem;
		padding: 1rem;
	}
	footer ul {
		padding: 0;
		font-size: 1rem;
	}
	.fab {
		font-size: 20px;
		margin-right: 10px;
		float: left;		
	}	
}
