* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1,
h2,
p {
  margin: 0px;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  color: #eee;
  background: linear-gradient(180deg, #F46F33 10%, #f31095 100%);
}

button:hover,
button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fea, 0 0 0 2px #fb1;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

input {
  display: block;
  font-size: 1rem;
  color: #333;
}

a {
  text-decoration: none;
}


@media (max-width: 720px){
  button:hover 
  button:focus {
    outline: none;
    background: blue;
    box-shadow: none;
  }
}


