.pageHome {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  display: flex;
  align-items: stretch;
  
  background: #ff00cc; 
  background: -webkit-linear-gradient(to right,#ff00cc, #333380); 
  background: linear-gradient(to right,#ff00cc, #333399); 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  place-content: center;
  
  width: 100%;
  max-width: 950px;
}

.back {
  flex: 1;
  background: url('../../assets/geo.png');
  background-size: cover;
}

.linesImg {
  position: absolute;
  width: 10vw; 
  top: 0;
  left: 0;
}

.objectImg {
  position: absolute;
  width: 15vw; 
  top: 33vw;
  left: 0;
}

.waveImg {
  position: absolute;
  width: 15vw;
  top: 10vw; 
  left: 60vw; 
}

.AppLogo {
  display: flex;
  margin-left: 10rem;
}

.buttonContainer {
  margin-left: 10rem;
  display: flex;
  gap: 10px;
  margin-top: 2rem;

  padding: 0.5rem 7rem;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1200px){
  .linesImg {
    width: 18vw; 
  }
  
  .waveImg {
    width: 25vw;
    left: 70vw;
  }
  
  .zigImg {
    width: 7vw; 
    top: 75vw; 
    left: 85vw;
  } 

  .objectImg {
    width: 25vw; 
    top: 31vw;
    left: 0;
  }
}

@media (max-width: 950px){
  .objectImg {
    width: 25vw; 
    top: 44vw;
    left: 0;
  }
}

@media (max-width: 850px){
  .objectImg {
    width: 25vw; 
    top: 53vw;
    left: 0;
  }
}

@media (max-width: 750px){
  .objectImg {
    width: 25vw; 
    top: 62vw;
    left: 0;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogo-float infinite 3s ease-in-out;
  }
}
  
@keyframes AppLogo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px)
  }
  100% {
    transform: translateY(0px)
  }
}

@media (max-width: 720px){
  @media (prefers-reduced-motion: no-preference) {
    .pageHome {
      height: 100vh;
    }        

    .AppLogo {
      animation: AppLogo-float infinite 3s ease-in-out;
      width: 20rem;
      margin-left: 0px;
    }

    .linesImg {
      width: 30vw; 
    }
    
    .waveImg {
      width: 25vw;
      left: 70vw;
    }
    
    .zigImg {
      width: 8vw; 
      top: 75vw; 
      left: 85vw;
    } 
 
    .objectImg {
      width: 27vw; 
      top: 130vw;
      left: 0;
    }
    
    .buttonContainer {
      margin-left: 0px;
      margin-top: 2rem;
      flex-direction: column;
    }
  }

@keyframes AppLogo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px)
  }
  100% {
    transform: translateY(0px)
   }
  } 
}

