.containerConteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  max-width: 85.7rem;
  padding: 8rem 2rem 0rem 2rem;
  gap: 0rem 2.8rem;
}


.containerText {
  height: 350px;
  padding: 1rem;
  text-align: right;
  display: grid;
  gap: 1rem;
  justify-items: end;
}

.containerText > h2 {
  color: black;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  text-align: end;
  color: black;
}

.title {
  text-align: center;
  font-size: 3.5rem;
}

.imgPersonalizados {
 width: 850px;
 height: 350px;
 object-fit: contain;
}

.detalhe {
  width: 4.2rem;
  height: 0.4rem;
  background: linear-gradient(180deg, #F46F33 10%, #f31095 100%);
  display: inline-block;
}

@media (max-width: 720px) {
  .containerConteudo {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }

  .containerText {
    gap: 0.2rem;
  }

  .containerText p {
    font-size: 1rem;
  }

  .containerText h1 {
    font-size: 2rem;
    text-align: end;
  }

  .containerText a {
    padding: 0.2rem 1rem;
    border-radius: 0.1rem;
  }
}