footer {
	background: linear-gradient(180deg, #f31095 0%, #F46F33 80%);
	padding: 2rem;
}

h2,
p,
a,
span {
	color: white;
}

ul {
	padding: 0;
	font-size: 1.4rem;
}

.wrapper:after {
	clear: both;
	content: "";
	display: block;
}


.footerBox {
	width: 31%;
	padding: 1%;
	float: left;
}

p {
	font-size: 1.3rem;
}

.footerList li {
	margin-bottom: 1rem;
}

.footerList a {
	transition: 0.5s;
	padding: 1rem;
}

span:hover {
	color: #D1D1D1;
}


.fab {
	font-size: 1.5rem;
	height: 2.5rem;
	margin-right: -0.5rem;
	margin-top: -0.5rem;
	float: left;
}

.fab:hover {
	color: #D1D1D1;
}

.footerBottom {
	border-top: 0.2rem solid #ffffff;
}

.imgFooter {
	height: 10rem;
	margin-top: -2rem;
	margin-left: -0.2rem;
}

@media (max-width: 720px) {
	.imgFooter {
		height: 3rem;
		margin-top: 1rem;
		margin-left: 1rem;
		align-items: center;
	}

	.fab {
		font-size: 1rem;
		margin: -0.2rem -0.8rem 0rem 0.7rem;
		
	}

	/*asd {
		margin-left: 10px;
		margin-right: -0.8rem;
		margin-top: -0.2rem;
		margin-bottom: -1rem;
	}*/

	.footerBox {
		width: 33%;
		padding: 0%;
		float: left;
	}

	.footerBox p {
		font-size: 0.8rem;
		margin-top: 20px;
		text-align: center;
	}

	.footerBox span {
		font-size: 0.8rem;
	}
}