.header {
  background: rgb(238, 237, 237);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  height: 5rem;
  margin-left: 3rem;
}

.headerMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.headerMenu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 40px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

nav a:hover{
  background-color: tomato;
  color: rgb(243, 241, 241);
}

.login::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../../assets/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
  position: relative;
  margin-right: 20px;
  top: 2px;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user button {
  align-items: center;
  justify-content: center;
  border-color: tomato;
  cursor: pointer;
  margin-left: 5px;
}

@media (max-width: 720px){
  .header{
    display: grid;
    background-color: aqua;
    background: rgb(238, 237, 237);
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    display: flex;
    height: 5rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: -2.5rem;
  }
  .headerMenu{
    display: flex;
  }
  .user {
    align-items: center;
    justify-content: center;
  }
  nav a:hover{
    background-color: tomato;
    color: rgb(243, 241, 241);
  }
}


